@font-face
{
    font-family:'raleway';
    src: url(fonts/Raleway-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

body
{
font-family: raleway;
font-weight: bold;
}

#blockpage
{
    margin: auto;
    max-width: 1440px;
    width: 100%;
}
.logosite
{
    width: 80px;
    height: auto;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    list-style-type: none;
    margin-right: 30px;
}
nav a

{
    font-size: 1em;
    color: #5691e9;
    padding-bottom: 6px;
    text-decoration: none;

}
nav a:hover
{
    color:gray

}
nav a:focus
{
    
    border-top: 1px;
    border-color:blue ; 
}
header

{
    
    display: flex;
    align-items:flex-end;
    justify-content:space-between
}
input
{
    border:1px grey solid;
    border-radius: 20px;
    
}
#economie, #familial, #Romantique, #animaux, #filtre
{
    margin: 65px;
}
#inscription
{
    font-weight: 2px bolder;
}
#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
p
{
    font-weight: normal;
    color: black;
}
#economie, #familial, #Romantique, #animaux
{
    border: 2px grey solid;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 2px 3px rgb(226, 226, 226);
    margin: auto;
    width: 200px;
    height:50px ;
    padding: auto;
    vertical-align: middle;
}
#filtres i
{
    border: 2px #87CEEB solid;
    background-color: #87CEEB;
    border-radius: 50%;
    height: 30 px;
    color: blue;
    padding-left: 0px;
    
}
#info
{
    color: blue;
    border-radius: 50%;
    text-align: center;
}
#hebergement
{
    display: flex;
    justify-content:space-between
       
}

#marseille
{
    border: 1px rgb(226, 226, 226) solid;
    border-radius: 15px;  
    display: flex;
    background-color: rgb(226, 226, 226);
    margin-right: 15px; 
    flex-wrap: wrap;
    padding: 20px 10px;
    max-width: 60%;
}

.bloc
{
    border-radius: 15px;
    padding: 0px;
    background-color: white;
    width: 30%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 4px white solid;
    max-height: 35%;
}
.bloc img
{
    border-radius: 15px;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.bloc-conteineur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;

}
.descriptionimage
{
    position:relative;
    z-index: 3;
    background-color: white;
    padding:5px;
    margin-top: 130px;

}
.descriptionimage p
{
    margin-bottom: 0px;
}
.descriptionimage h3
{
    margin-top: 0px;
}
aside
{
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    padding: 20px 10px;
}
.blocaside
{
    display: FLEX;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}
.blocaside img
{
    position: relative;
}
.blocaside .descriptionimage
{
    margin-top: 0px;
    width: 100%;
    padding: 10px;
}
#titrepop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fas
{
    color:rgb(50, 109, 197)
}